.container {
  margin: auto;
  display: flex;
  justify-content: center;
}
.container-menu {
  position: fixed;
}
.container-main {
  border-right: 1;
  padding-top: 1.22rem;
  background: "white";
}
