.container {
  margin: 5rem 4.5rem;
  padding: auto 3rem;
  text-align: center;
}
.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.container-background {
  background: white;
}
.btn-space {
  display: flex;
  justify-content: space-evenly;
}
.info-avatar {
  display: flex;
  align-items: baseline;
}
.listdelivery {
  overflow-y: scroll;
}
